<form class="center search-all" id="center">
	<h1 class="lorem">Eventos Culturales en tu Zona</h1>
	<h3 class="lorem ral">Encuentra</h3>
    <div class="form-group cien-porciento">
    	<input type="text" class="form-control search" placeholder="Search">
    	<input type="submit" class="lupa" value="">
    </div>
</form>

<footer class="footer col-md-12">
	<p class="ft">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vitae harum deserunt, dicta possimus quod cupiditate enim illum, fuga nihil est tempora impedit ad quidem earum quasi id odio libero!</p>
</footer>