<div class="container-fluid banner">

	<div class="form-group for input-finder ">
		<h1 class="heading">Eventos Culturales en tu Zona</h1>
		<h3 class="sub-heading ">Encuentra eventos culturales diferentes y gratuitos alrededor de tu ciudad</h3>
		<%= form_tag home_result_path, class: "center search all", id: "center" do %>
		<%= text_field_tag :search, nil, class: "form-control search col-sm-6", placeholder: "Comienza Buscando Acá..." %>
		<%= submit_tag " ", class: "lupa" %>
		<% end %>
	</div>

	<% params %>
	<% notice %>


	<footer class="footer row">
		<div class="logo-footer">
			<a class="img-responsive  col-sm-12" href="root_path"><%= image_tag 'logo_bw.png', class: 'logo' %> </a>
			<h5 class="copyright">Me Suena Chile 2017. Todos los Derechos Reservados.</h6>
		</div>
	</footer>
</div>


