<form class="center search-all" id="center">
    <div class="form-group cien-porciento">
    	<input type="text" class="form-control search" placeholder="Search">
    	<input type="submit" class="lupa" value="">
    </div>
</form>


<p>
	<% @client.search("to:Chile", result_type: "recent").take(3).each do |tweet| %>
	<div>
		<%=	tweet.text %>		
	</div>
	<div>
		<%= tweet.user.screen_name %>
	</div>
	<br>

	<% end %>	
</p>

<p>
	<% @client.search('#eventos').take(3).each do |tweet| %>
	<div>
		<%=	tweet.text %>		
	</div>
	<div>
		<%= tweet.user.screen_name %>
	</div>
	<br>
	<% end %>	
</p>


<footer class="footer">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vitae harum deserunt, dicta possimus quod cupiditate enim illum, fuga nihil est tempora impedit ad quidem earum quasi id odio libero!</p>
</footer>