<form class="center search-all" id="center">
	<h1 class="lorem">LOREM</h1>
	<p class="lorem ral">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum id eligendi nemo recusandae, magni assumenda iure similique at. Sed reprehenderit nesciunt tenetur et, veniam nemo excepturi? Ullam voluptates, sed vel.</p>
    <div class="form-group cien-porciento">
    	<input type="text" class="form-control search" placeholder="Search">
    	<input type="submit" class="lupa" value="">
    </div>
</form>

<footer class="footer col-md-12">
	<p class="ft">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vitae harum deserunt, dicta possimus quod cupiditate enim illum, fuga nihil est tempora impedit ad quidem earum quasi id odio libero!</p>
</footer>