<form class="center">
	<h1 class="lorem">LOREM</h1>
    <div class="form-group">
    	<input type="text" class="form-control cien-porciento " placeholder="Search">
    </div>
</form>

<footer class="footer">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vitae harum deserunt, dicta possimus quod cupiditate enim illum, fuga nihil est tempora impedit ad quidem earum quasi id odio libero!</p>
</footer>

<p>
<%= @client.search("#ruby -rt", lang: "ja").first.text %>    
</p>
<p>

<% client.sample do |object| %>
<%=  object.text if object.is_a?(Twitter::Tweet) %>
<% end %>
    
</p>