<div class="container-fluid text-center">
	<h1>Resultados</h1>
	<br>
	<h4>Eventos a los que debes ir</h4>
	
	<p>
		<a href="<%= root_path %>" class= "btn btn-primary" role="button">Regresar</a>
	</p> 


</div>
<div class="container">
<div class="thumbnail">
	

	<div class="row">
		<% @tweets.each do |tweet| %>
			<div class="col-md-4">
				<h4> <%= tweet.text %> </h4>		
				<%= tweet.user.screen_name %>
			</div>	

		<% end %>
	</div>
</div>

</div>


